<h1>Welcome <%= userdata.name %></h1>
Card No.: <%= userdata.card %>
Email: <%= userdata.email %>
Money: <%= userdata.money %>
<a href="/">Home</a>
<a href="/member/withdraw">Withdraw</a>
<a href="/member/deposit">Deposit</a>
<a href="/member/logout">Logout</a>