<%- include('partials/header') %>
    <h1><%= title %></h1>
    All Users: <strong>/api/users</strong><br>
    User by card number: <strong>/api/user/####</strong>(example /api/user/999999) 
<%- include('partials/footer') %>