<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    LOGIN: <a href="/login"><strong>/login</strong></a><br>
    REGISTER: <a href="/register"><strong>/register</strong></a><br>
    API: <a href="/api"><strong>/api</strong></a></br>
<%- include('partials/footer') %>