<%- include('partials/header') %>

          <form action="/login" method="POST">
            <h2>BANKING APP LOGIN</h2>
            Email: <input type="email" name="email" required autofocus>
            Pass: <input type="password" name="password"required>
            <button type="submit">Sign in</button>
        </form>

<%- include('partials/footer') %>