<%- include('partials/header') %>
    <form action="/register" method="POST">
        <h2>BANKING APP REGISTRATION</h2>
        Full Name: <input name="name"required>
        Email: <input type="email" name="email" required autofocus>
        Pass: <input type="password" name="password"required>
        Card: <input name="card"required>
        <button type="submit">Sign in</button>
    </form>
    <a href="/login">Login</a>
<%- include('partials/footer') %>